.navbar,
.footer,
.list-group  {
    background-color: rgba(0, 0, 0, 0.75) !important; 
}

.navbar .nav-link,
.footer,
.list-group  {
    color: white !important;
}

.navbar .nav-link:hover {
    color: #add8e6 !important;
}

.profile-pic {
    width: 150px;
}

.work-img{
    height: 200px;
}

.work-box {
    height: 350px;
}

.service-box {
    height: 95%;
}
